/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  background-color: #200835;
  margin: auto;
  width: 1024px;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container {
    width: 95%;
    overflow: hidden;
  }
}
.container .nav {
  background-color: white;
  height: 9.8rem;
  display: flex;
  align-items: center;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .nav {
    background-color: #200835;
  }
}
.container .nav .nav-container {
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .nav .nav-container {
    justify-content: flex-start;
  }
}
.container .nav .nav-container .logo-nav {
  color: #242425;
  height: 3.2rem;
  width: 14.8rem;
  margin-left: 2.3rem;
  line-height: 3.2rem;
}
.container .nav .nav-container .logo-nav a {
  text-decoration: none;
  font-size: 2.7rem;
  color: #242425;
}
.container .nav .nav-container .logo-nav a:hover {
  color: #4A4A4A;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .nav .nav-container .logo-nav a {
    color: white;
  }
}
.container .nav .nav-container .nav-bar {
  padding-top: 7px;
}
.container .nav .nav-container .nav-bar a {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 2.2rem;
  margin-left: -1rem;
  margin-right: 4rem;
}
.container .nav .nav-container .nav-bar a:hover {
  color: #200835;
}
.container .nav .nav-container .nav-bar .sign-in {
  color: #33014B;
  font-weight: 700;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .nav .nav-container .nav-bar {
    visibility: hidden;
  }
}
.container .nav .nav-container .hamburger {
  padding-left: 3rem;
}
.container .nav .nav-container .hide {
  display: none;
}
.container .dropdown {
  background-color: #200835;
  border: 1px soild white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  height: 25rem;
  width: 100%;
}
.container .dropdown a {
  text-decoration: none;
  color: white;
  font-size: 2.2rem;
  padding: 1rem;
}
.container .hide {
  display: none;
}
.container .landing .header-display {
  background: url('../assets/landing/landing-bg.png') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 481px;
  width: 100%;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .landing .header-display {
    background-size: cover;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.container .landing .header-display .start-now {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2%;
  padding-top: 10%;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .landing .header-display .start-now {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-right: 0;
    padding-top: 0%;
    height: 100%;
  }
}
.container .landing .header-display .start-now h2 {
  color: #33014B;
  font-size: 2.4rem;
  padding: 20px 50px;
  border: 1px solid #4B147C;
  margin-right: 7rem;
}
.container .landing .header-display .start-now h2:hover {
  color: white;
  background-color: #33014B;
  transition: background-color 0.8s ease;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .landing .header-display .start-now h2 {
    margin-top: 3rem;
    background-color: white;
    border: none;
    margin-right: 0px;
  }
}
.container .landing .header-display .start-now h1 {
  color: #2E2D2F;
  font-size: 2.7rem;
  margin-top: 1.5rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .landing .header-display .start-now h1 {
    background-color: white;
    color: #4A4A4A;
    padding: 1rem;
    border-radius: 6px;
  }
}
.container .features-container {
  display: flex;
  flex-direction: row;
  margin-top: -9%;
  padding-left: 3rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .features-container {
    flex-direction: column;
    align-items: center;
    margin-top: 0rem;
    padding-top: 5rem;
    background-color: white;
    padding-left: 0;
  }
}
.container .features-container .schedule {
  height: 314px;
  width: 296px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.91);
  box-shadow: 0 2px 4px 0 rgba(162, 162, 162, 0.5);
  padding: 2rem;
  margin-right: 4rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .features-container .schedule {
    margin-bottom: 5rem;
    margin-right: 0;
  }
}
.container .features-container .schedule .schedule-img {
  margin-top: 1rem;
}
.container .features-container .schedule .schedule-img .small-icon {
  margin-left: -4.1rem;
  margin-bottom: 1.8rem;
}
.container .features-container .schedule h2 {
  color: #DA3C50;
  font-size: 2rem;
  line-height: 24px;
  margin-top: 1.5rem;
}
.container .features-container .schedule p {
  font-size: 1.2rem;
  height: 112px;
  width: 263px;
  padding: 2rem 2rem 2rem 0rem;
}
.container .features-container .sms {
  height: 314px;
  width: 296px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.91);
  box-shadow: 0 2px 4px 0 rgba(162, 162, 162, 0.5);
  padding: 2rem;
  margin-right: 4rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .features-container .sms {
    margin-bottom: 5rem;
    margin-right: 0;
  }
}
.container .features-container .sms .sms-img {
  margin-top: 1rem;
}
.container .features-container .sms .sms-img .small-icon {
  margin-left: -4.1rem;
  margin-bottom: 1.8rem;
}
.container .features-container .sms h2 {
  color: #417505;
  font-size: 2rem;
  line-height: 24px;
  margin-top: 1.5rem;
}
.container .features-container .sms p {
  font-size: 1.2rem;
  height: 112px;
  width: 263px;
  padding: 2rem 2rem 2rem 0rem;
}
.container .features-container .confirm {
  height: 314px;
  width: 296px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.91);
  box-shadow: 0 2px 4px 0 rgba(162, 162, 162, 0.5);
  padding: 2rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .features-container .confirm {
    margin-right: 0;
  }
}
.container .features-container .confirm .confirm-img {
  margin-top: 1rem;
}
.container .features-container .confirm .confirm-img .small-icon {
  margin-left: -4.1rem;
  margin-bottom: 1.8rem;
}
.container .features-container .confirm h2 {
  color: #924BD0;
  font-size: 2rem;
  line-height: 24px;
  margin-top: 1.5rem;
}
.container .features-container .confirm p {
  font-size: 1.2rem;
  height: 112px;
  width: 263px;
  padding: 2rem 2rem 2rem 0rem;
}
.container .stay-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-left: 3rem;
  padding-bottom: 6rem;
  margin-top: -25rem;
  padding-top: 26rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .stay-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}
.container .stay-container .organized {
  margin-right: 3rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .stay-container .organized {
    margin-right: 0;
  }
}
.container .stay-container .organized .org {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 314px;
  width: 296px;
  padding: 2rem;
}
.container .stay-container .organized .org img {
  height: 118px;
  margin-top: 8rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.container .stay-container .organized .org p {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}
.container .stay-container .connected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 314px;
  width: 296px;
  padding: 2rem;
  margin-right: 6rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .stay-container .connected {
    margin-right: 0;
  }
}
.container .stay-container .connected img {
  height: 118px;
  margin-top: 8rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.container .stay-container .connected p {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}
.container .stay-container .assured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 314px;
  width: 296px;
  padding: 2rem;
}
.container .stay-container .assured img {
  height: 118px;
  margin-top: 8rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}
.container .stay-container .assured p {
  text-align: center;
  font-size: 2.8rem;
  margin-top: 2rem;
}
.container .contact-section {
  background: url('../assets/landing/contact.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  opacity: 0.8;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .contact-section {
    background-size: cover;
    height: 550px;
  }
}
.container .contact-section .contact-info {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .contact-section .contact-info {
    height: 100%;
    text-align: center;
  }
}
.container .contact-section .contact-info .cont-box {
  margin-top: 6.5rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .contact-section .contact-info .cont-box {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container .contact-section .contact-info .cont-box .contact-us {
  border-radius: 3.4rem;
  border: 2px solid white;
  color: white;
  font-size: 2.7rem;
  line-height: 3.2rem;
  margin: 0 356px;
  margin-top: 5rem;
  padding: 1rem;
}
.container .contact-section .contact-info .cont-box .contact-us:hover {
  background-color: #33014B;
  transition: background-color 0.8s ease;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .contact-section .contact-info .cont-box .contact-us {
    margin: 0;
    margin-top: 5rem;
    padding: 1rem 3rem;
  }
}
.container .contact-section .contact-info .cont-box h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3.9rem;
  font-weight: 700;
  color: white;
  margin-left: 2.1rem;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .contact-section .contact-info .cont-box h2 {
    color: white;
    font-size: 2rem;
  }
}
.container .footer {
  background-color: #200835;
  height: 237px;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 500px) and (max-width: 1023px) {
  .container .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.container .footer .logo-nav {
  text-decoration: none;
  color: white;
  font-size: 3.2rem;
}
.container .footer .logo-nav a {
  font-weight: 700;
}
.container .footer .footer-wrap {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .footer .footer-wrap .footer-nav {
  display: flex;
  flex-direction: column;
}
.container .footer .footer-wrap .footer-nav a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  line-height: 19px;
}
.container .footer .footer-wrap .terms {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}
.container .footer .footer-wrap .terms a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.nav-active {
  position: absolute;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #200835;
}
